bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SevenWonders/.idea/encodings.xml
/.idea/.idea.SevenWonders/.idea/indexLayout.xml
/.idea/.idea.SevenWonders/.idea/vcs.xml
/.idea/.idea.SevenWonders/.idea/projectSettingsUpdater.xml
/.idea/.idea.SevenWonders/.idea/workspace.xml
